/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 720px) {
	.wrapper {
		max-width: 720px;
	}
	header {
		padding: 0 20px;
		min-width: 720px;
	}
	.basis {
		min-width: 720px;
	}
	.basis_block  {
		display: block;
	}
	.content{
		height: 590px;
		padding: 0 20px;
		text-align: center;
	}
	.status-img {
		justify-content: space-between;
		width: 470px;
		margin: 0 auto;
	}
	.status-img img {
		
	}
	.status-img__1 {
		width: 40px;
		height: 49px;
	}
	.status-img__2{
		width: 40px;
		height: 49px;
	}
	.status-img__3{
		width: 53px;
		height: 65px;
	}
	.status-img__4{
		width: 40px;
		height: 49px;
	}
	.status-img__5{
		width: 40px;
		height: 49px;
	}
	.status-line_Shape__1 {
		width: 100px;
		height: 1px;
	}
	.status-text {
		width: 550px;
		margin: 0 auto;
	}

	.maps-img, .pasport, .term  {
		width: 600px;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
	.transition {
		width: 600px;
		margin: 0 auto;
	}
	.sidebarr {
		display: flex;
		justify-content: space-around;
	}
	.sidebarr-product_one {
		float: none;
	}
	footer {
		min-width: 720px;
	}
	.footer-bottom {
		justify-content: center;
	}
}

