/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.wrapper {
		max-width: 720px;
		margin: 0 auto;
	}
	header {
		padding: 0 20px;
		min-width: 720px;
		text-align: center;
	}
	.header-wrap {
		display: block;
	}
    .descr {
    	padding-top: 20px;
    	justify-content: center;
    }
	.basis {
		min-width: 720px;
		height: 1100px;
	}
	.basis_block  {
		display: block;
	}
	.content{
		height: 650px;
		margin: 0 auto;
		text-align: center;
	}
	.status-img {
		justify-content: space-between;
		width: 650px;
		margin: 0 auto;
	}
	.status-img img {
		
	}

	.status-line_Shape__1 {
		width: 140px;
		height: 1px;
	}
	.status-text {
		width: 650px;
		margin: 0 auto;
	}
	.term p{
		font: bold 18px Arial;
		margin: 40px 0 0;
	}
	.term p.day {
		font: normal 16px Arial;
		margin-bottom: 20px;
	}
	.maps-img, .pasport, .term  {
		width: 650px;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
	.transition {
		width: 650px;
		margin: 0 auto;
	}
	.sidebarr {
		display: flex;
		justify-content: center;
		width: 700px;
	}
	.sidebarr-product_one {
		float: none;
		margin: 10px auto;
	}

	footer {
		min-width: 720px;
	}
	.footer-bottom {
		justify-content: center;
	}
}

