*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	color: #666666;
}
.line-b {
	background: url(../images/line-b.png) no-repeat;
	max-width: 90px;
	height: 5px;
	margin: 10px auto 0;
}
.line-m {
	background: url(../images/line-m.png) no-repeat;
	max-width: 65px;
	height: 5px;
	margin: 10px auto 0;
}
.logo {
	float: left;
	margin-top: 43px;
}
#services h1, #services p{
	text-align: center;
}
.main_mnu {
	float: right;
}
.main_mnu ul li {
	float: left;
	list-style: none;
	margin-right: 10px;
	margin-top: 30px;
}
.main_mnu ul li a {
	text-transform: uppercase;
	color: #fff;
}
.main_mnu ul li a:hover {
	border-bottom: 2px solid #ff9933;
}
header {
	background: #000;
}
header h1,h3,i {
	text-align: center;
	color: #999999;
}
header h1 {
	margin-top: 190px;
	font: bold 40px "NautilusPompiliusRegular";
}
header h3 {
	font: normal 20px "NautilusPompiliusRegular";
}
header .fa-arrow-circle-down {
	margin: 170px auto 40px;
	display: table;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}
h1 span {
	color: #ff9933;
}
.main_mnu_button {
	float: right;
	background:  #f2f2f2;
	border:  none;
	background-color: transparent;
	font-size: 30px;
	margin-top: 33px;
}
/* About*/
.careplus-jumbotron-area {
  background-position: center center;
  background-size: cover;
  
}
.about {
	padding: 100px 0 0;
}
.about-text h2, .about-text h1{
	margin: 0;
	padding: 0;
}
.about-text ul {
	padding: 0;
	margin: 40px 0 0;
}
.about-text ul li {
	list-style: none;
	margin-left: 10px;
	padding-left: 20px;
}
a.icons  {
	background: url(../images/icons.png) no-repeat;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	margin-top:3px;

}
#careplus-jumbotron .line-b {
	margin: 0;
}
/*services*/
#clients, #testimonials {
	background: #000;
	text-align: center;
	padding: 100px 0;
}
#clients h1 {
	color: #fff;
}
.carousel {

}
.slaider_container {
	position: relative;
	padding-top: 80px;
}
.next_button, .prev_button {
	color:#fff;
	font-size: 36px;
	position: absolute;
	z-index: 10;
	cursor: pointer;
	border-radius: 50%;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
.slider_item {
	padding:  15px 10px 0;
}
#services {
	text-align: center;
	padding: 100px 0;
}
#services h1, #services h4, #contacts h1 {
	text-transform: uppercase;
}
#services i {
	margin-top: 10px;
	font-size: 50px;
	border: 4px solid #FCAC45;
	border-radius: 50%;
	width: 55%;
	padding: 32px 0;
	color: #000;
}
#services i:hover {
	background: #FCAC45;
	transition: all 0.5s;
	color:#fff;
}
/*Testimonials*/
#testimonials h1 {
	color: #fff;
	text-transform: uppercase;
}
#testimonials p.upper {
	padding-top: 90px;
	text-transform: uppercase;
	color: #fff;
}
#testimonials p {
	color: #999;
}
#contacts h1 {
	text-align: center;
}
#contacts {
	padding: 100px 0;
}
#message input[type="text"],
#message textarea {
	width: 100%;
	padding: 10px 15px;
}

#message textarea {
	margin-top: 10px;
	min-height: 150px;
}
.send {
	text-align: right;
}
.btn {
	margin-top: 10px;
	padding: 12px 20px;
	border-radius: 5px;
	text-transform: uppercase;
	border: none;
	color: #fff;
	background: #fdc174;
}
.btn:hover {
	background: #e6a046;
	transition: all .5s;
}
footer {
	padding: 30px 0;
	background: #000;
	color: #fff;
}
footer .copyright {
	float: left;
}
footer .social {
	float: right;
	margin-top: 10px;
}
footer .fa {
	font-size: 20px;
	margin-left: 5px;
	border-radius: 50%;
	border: 1px solid gray;
	padding: 5px;
    color: #fff;
    cursor: pointer;
}
footer .fa:hover {
	background: #fdc174;
	transition: all .5s;
}
