/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.about {
		padding: 50px 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.about {
		padding: 0 0 50px;
		margin: 0 auto;
	}
	.about img {
		max-width: 100%;
		height: auto;
	}
	#services i {
		width: 30%;
		padding: 18px 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.main_mnu {
		display: none;
		width: 100%;
	}
	.main_mnu ul {
		padding: 0;
	}
	.main_mnu ul li {
		float: none;
		width: 100%;
		transition: all .5s;
	}
	.main_mnu ul li a:hover {
		color:orange;
		transition: all .5s;
	}
	
	header h1, header .fa-arrow-circle-down  {
		margin-top: 50px;
	}
	#services i {
		font-size: 45px;
		width: 19%;
		padding: 26px 0;
	}
	input[type="text"] {
		margin-top: 10px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#services i {
		font-size: 45px;
		width: 32%;
		padding: 18px 0;
	}
	footer .social, footer .copyright {
		float: none;
	}
	footer  {
		text-align: center;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	#services i {
		font-size: 45px;
		min-width: 42%;
		padding: 18px 0;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.main_mnu {
		display: block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}